body {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/background.jpg);
	background-position: center;
	background-attachment: fixed;
	font-family: 'Montserrat', sans-serif;
}

.fullscreen-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 7vh;
	font-weight: bold;
}

h2 {
	font-size: 4vh;
	font-weight: lighter;
}

h1, h2 {
	color: white;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

input {
	height: 30px;
}

.form-control {
	font-size: 11px;
}

.modal-header, .modal-footer {
	background-color: #0D90E6;
}

.modal-footer {
	padding: 15px 0 15px 0;
}

.modalLogo {
	width: 100%;
}

.form-control::placeholder {
	font-size: 11px;
}

.btn-custom {
	color: #fff;
	cursor: pointer;
	background-color: #0D90E6;
	border-color: #0D90E6;
	border-radius: .5rem;
}

.btn-custom:hover {
	background-color: #76B33E;
	border-color: #76B33E;
}

#signupModal {
	color: #868e96;
	font-size: 13px;
}

#emailVerificationModal {
	color: #868e96;
	font-size: 13px;
}

#overlayText {
	position: absolute;
	width: 100%;
	height: calc(8vh + 48px);
	top: 50vh;
	margin-top: calc(-25vh + 4vh + 24px);
}

#logo {
	width: 100%;
}

#signIn {
	background-color: transparent;
	color: white;
	border: 0;
}

#navMenu {
	position: absolute;
	top: calc(100vh - 80px);
	height: 80px;
	width: 100%;
}

#navMenu a {
	color: white;
	transition: all 0.3s;
}

#navMenu a:hover {
	color: #0D90E6;
}

@media (min-aspect-ratio: 16/9) {
	.fullscreen-bg-video{
		height: 300%;
		top: -100%;
	}

@media (max-aspect-ratio: 16/9) {
	.fullscreen-bg-video{
		width: 300%;
		left: -100%;
	}
@media (max-width: 767px) {
		.fullscreen-bg{
			background: url("../images/background.jpg") center center / cover no-repeat;
	}
	.fullscreen-bg-video{
		display: none;
	}
}}

}